@media (max-width: 1024px) {
	body.lock {
		overflow: hidden;
	}
	.header__container__top {
		padding-bottom: 0;
		border-bottom: none;
	}
	.header__burger {
		display: block;
		position: relative;
		z-index: 101;
	}
	.header__burger__button {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 40px;
		height: 32px;
		background: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
	}
	.header__burger__line {
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--accent-text);
		border-radius: 8px;
		transition: var(--transition);
		position: relative;
		transform-origin: left center;
	}
	.header__burger.active .header__burger__line:first-child {
		transform: rotate(45deg);
	}
	.header__burger.active .header__burger__line:nth-child(2) {
		opacity: 0;
	}
	.header__burger.active .header__burger__line:last-child {
		transform: rotate(-45deg);
	}
	.header__container__bottom {
		padding-top: 0;
	}
	.header__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 99;
		opacity: 0;
		pointer-events: none;
		transition: var(--transition);
	}
	.header__overlay.active {
		opacity: 1;
		pointer-events: all;
	}
	.header__nav {
		position: fixed;
		top: 0;
		right: -100%;
		width: 50%;
		height: 100vh;
		background: var(--white);
		box-shadow: var(--box-shadow);
		padding: 64px 24px 24px;
		transition: var(--transition);
		z-index: 100;
		overflow-y: auto;
	}
	.header__nav.active {
		right: 0;
	}
	.header__nav.active .header__contacts {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 16px;
		margin-bottom: 32px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.header__nav__list {
		flex-direction: column;
		align-items: flex-start;
	}
	.header__logo-mobile {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 16px;
	}
	.header__nav__item {
		width: 100%;
		padding: 0;
	}
	.header__nav__link {
		display: block;
		width: 100%;

	}
	.dropdown__content {
	  position: static;
	  display: none;
	  width: 100%;
	  box-shadow: none;
	  border: none;
	  border-radius: 0;
	  margin-top: 10px;
	}
	.dropdown[aria-expanded="true"] .dropdown__content {
	  display: block;
	}
}

@media (max-width: 768px) {
	section:not(:last-child) {
		margin-bottom: 16px;
	}
	.header__nav.active {
		width: 100%;
		height: 100%;
	}
	.header__contacts__list {
		flex-direction: column;
	}
	.mobile__container {
		flex-direction: column;
		gap: 16px;
	}
	.mobile__app__block {
		padding: 32px 16px;
		gap: 16px;
	}
}

@media (max-width: 320px) {
	.header__logo__text {
		font-size: 14px;
	}
}
