@media (max-width: 870px) {
    .header {
        margin-bottom: 0;
    }

    .burger {
        display: block;
    }

    .burger--active::before {
        top: 50%;
        width: 100%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        color: var(--gray-4);
        -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .burger--active::after {
        top: 50%;
        width: 100%;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        color: var(--gray-4);
        -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .burger--active .burger__line {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .burger:focus::after {
        opacity: 1;
    }

    .header__top-container {
        border-radius: 25px;
    }

    .header__bottom {
        visibility: hidden;
    }

	.hero__title {
        margin-bottom: 15px;
        font-size: 30px;
    }

	.hero__descr {
        font-size: 26px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        height: 100vh;
        padding: 75px 25px 25px 35px;
        overflow: auto;
        background-color: var(--gray-1);
        visibility: hidden;
        -webkit-transition: visibility 0.3s, -webkit-transform 0.3s;
        transition: visibility 0.3s, -webkit-transform 0.3s;
        -o-transition: visibility 0.3s, transform 0.3s;
        transition: visibility 0.3s, transform 0.3s;
        transition: visibility 0.3s, transform 0.3s, -webkit-transform 0.3s;
        z-index: 11;
    }

    .nav--active {
        visibility: visible;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .nav--active .nav__link {
        color: var(--primary-blue);
    }

    .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 20px;
        background-color: rgba(0, 0, 0, 0)
    }

    .nav--active .header__contacts {
        margin-bottom: 30px;
        gap: 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .nav--active .header__contacts .header__contacts-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .nav--active .nav__list {
        padding: 0;
    }

    .content__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .news {
        width: 100%;
    }

    .meetings {
        width: 100%;
    }

    .hero__content {
        padding: 25px;
        height: 250px;
    }

    .modal__img {
        flex-direction: column;
    }

    .modal__img-pic {
        margin: 0 auto;
        max-width: 75%;
    }

    .modal__pic {
        width: 100%;
    }
    }

@media (max-width: 650px) {
    .hero__content {
        padding: 15px;
        height: 200px;
    }

    .hero__text {
        bottom: 10%;
    }

	.hero__title {
        font-size: 26px;
    }

    .hero__descr {
        font-size: 20px;
    }

    .hero__descr:not(:last-child) {
        margin-bottom: 15px;
    }

    .beginner__content {
        padding: 10px;
    }

    .beginner__accordion-control {
        padding: 10px;
    }

    .beginner__accordion-title {
        font-size: 15px;
        margin-bottom: 0;
    }

    .modal__window {
        padding: 15px;
    }

    .modal__window-pic {
        display: flex;
        flex-direction: column;
    }

    .modal__img {
        margin-right: 0;
    }

    .modal__img img {
        align-items: center;
        text-align: center;
        width: 290px;
        margin-bottom: 15px;
    }
}

@media (max-width: 530px) {
    .hero__text {
        bottom: 15%;
    }

	.hero__title {
        font-size: 20px;
    }

    .hero__descr {
        font-size: 18px;
    }

    .beginner__accordion-title {
        font-size: 12px;
    }

    .meetings__time {
        width: 100%;
    }
}
