.accordion {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border: 1px solid var(--accent-text);
	border-radius: 16px;
	padding: 16px;
	box-shadow: var(--box-shadow);

}

.accordion-item {
	padding: 8px 16px;
	border: 1px solid var(--accent-text);
	border-radius: 16px;
	background-color: var(--white);
	transition: var(--transition);
	box-shadow: var(--box-shadow);
}

.accordion-header {
	padding: 8px 16px;
	border: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: clamp(16px, 1.5vw, 20px);
	font-weight: 700;
	transition: var(--transition);
	background-color: var(--white);
	border-radius: 16px;
}

.accordion-header:hover {
	background-color: var(--light-text);
	color: var(--white);
}

.accordion-header:focus {
	background-color: var(--white);
	color: var(--accent-text);
}

.accordion-header::after {
	content: '+';
	font-size: 20px;
	font-weight: 700;
	transition: var(--transition);
}

.accordion-header.active::after {
	content: '-';
}

.accordion-content {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
	max-height: 0;
	overflow: hidden;
	transition: var(--transition);

}

.accordion-content p {
	margin: 0 16px 16px 0;
	line-height: 1.3;
    font-size: clamp(14px, 1.5vw, 16px);
    max-width: 100%;
}

.accordion-content strong {
    font-size: clamp(16px, 1.5vw, 18px);
    color: var(--black);
}

.accordion-content-blog {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 16px 0;
	padding-left: 16px;
}

.accordion-content-blog-text {
	margin: 0;
    padding-left: 16px;
    border-left: 3px dashed var(--accent-text);
    font-size: clamp(12px, 1.5vw, 16px);
}

.scrollable-content {
	max-height: 300px; /* Максимальная высота перед появлением прокрутки */
	overflow-y: auto;
	line-height: 1.3;
}

.scrollable-content strong {
	margin-bottom: 16px;
}

/* Стили для полосы прокрутки */
.scrollable-content::-webkit-scrollbar {
	width: 8px;
}

.scrollable-content::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
	background: #555;
}
