.header {
    margin-bottom: 1rem;
}

.header__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;
    border: 1px solid var(--accent-text);
    box-shadow: var(--box-shadow);
}

.header__container__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--accent-text);
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: 350px;
    gap: 0.5rem;
}

.header__logo-mobile {
    display: none;
}

.header__logo:hover {
    color: currentColor;
}

.header__logo:focus {
    outline: none;
}

.header__logo__text {
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    transition: var(transition);
}

.header__contacts {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    transition: var(--transition);
}

.header__contacts__web {
    padding: 0.5rem;
    transition: var(--transition);
    text-decoration: none;
    outline: none;
}

.header__contacts__web:hover,
.header__contacts__web:focus,
.header__contacts__web:focus-visible,
.header__contacts__web:active {
    color: var(--light-text);
}

.header__contacts__region {
    padding: 0.5rem;
    color: var(--black);
    opacity: 0.5;
}

.header__contacts__list {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__contacts__phone {
    padding: 0.25rem;
    transition: var(--transition);
    outline: none;
}

.header__contacts__phone:hover,
.header__contacts__phone:focus,
.header__contacts__phone:focus-visible,
.header__contacts__phone:active {
    color: var(--light-text);
}

.header__burger {
    display: none;
}

.header__container__bottom {
    padding-top: 1rem;
    width: 100%;
}

.header__nav {
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    transition: var(--transition);
}

.header__nav__list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    text-transform: uppercase;
}

.header__nav__item {
    padding: 0.25rem 0.5rem;
    transition: var(--transition);
}

.header__nav__item:active {
    color: var(--light-text);
}

.header__nav__link {
    color: var(--accent-text);
    padding: 0.25rem 0.5rem;
    transition: var(--transition);
    outline: none;
}

.header__nav__link:hover,
.header__nav__link:focus,
.header__nav__link:focus-visible,
.header__nav__link:active  {
    color: var(--light-text);
}

.dropdown {
    position: relative;
    display: inline-block;
    outline: none;
}

.dropdown__arrow {
    margin-left: 0.5rem;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
}

.dropdown__arrow-icon {
    transition: var(--transition);
}

.dropdown[aria-expanded="true"] .dropdown__arrow {
    transform: rotate(180deg);
}

.dropdown[aria-expanded="true"] .dropdown__arrow-icon {
    transform: scaleY(-1);
}

.dropdown__content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 100;
    min-width: 300px;
    border: 1px solid var(--accent-text);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: var(--transition);
}

.dropdown__content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown__content__item {
    padding: 0.25rem 0.5rem;
}

.dropdown__content__item:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.dropdown__content__item-link {
    color: var(--accent-text);
    text-decoration: none;
    display: block;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-weight: 700;
    padding: 8px 1rem;
}

.dropdown__content__item-link:hover {
    color: var(--light-text);
}

.dropdown__content__item-link:focus,
.dropdown__content__item-link:focus-visible {
    outline: none;
    color: var(--light-text);
}
