.mobile__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.mobile__app__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    max-width: 600px;
    background: var(--white);
    padding: 2.5rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.mobile__app__block button {
    margin-top: auto;
}

.mobile__app__icon svg {
    width: 60px;
    height: 60px;
    fill: currentColor;
}

.ios .mobile__app__icon {
    color: var(--black);
}
.android .mobile__app__icon {
    color: #3ddc84;
}

.mobile__app__title {
    font-size: 1.5rem;
    color: var(--accent-text);
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.mobile__installation__steps {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    padding-left: 2rem;
    list-style-type: none;
}

.mobile__installation__steps li {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    color: var(--black);
}
