.news__container {
    position: relative;
}

.news__container:not(:last-child) {
	margin-bottom: 2rem;
}
.news__slider__container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.news__slider {
    position: relative;
    display: flex;
    transition: var(--transition);
    margin: 0 -1rem;
}

.news__slide__group {
    display: flex;
    gap: 1.5rem;
    min-width: 100%;
    padding: 0 1rem;
}

.news__slide__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    width: 50%;
    padding: 1rem;
    border: 1px solid var(--accent-text);
    border-radius: 1rem;
    background-color: var(--white);
}

.news__image {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.news__date {
    color: var(--white);
    background-color: var(--light-text);
    width: max-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.news__title {
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.3;
}

.news__excerpt {
    color: var(--text);
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    line-height: 1.3;
}

.news__btn {
    align-self: flex-end;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.news__slider__arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: var(--white);
    border: 1px solid var(--accent-text);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    z-index: 10;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.news__slider__arrow:hover {
    background-color: var(--light-text);
    color: var(--white);
}


.news__slider__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1rem;
}

.slider__dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--black);
    opacity: 0.3;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}

.slider__dot.active {
    background-color: var(--light-text);
    border: px solid var(--accent-text);
    transform: scale(1.2);
}

.news__slider__dots span {
    color: var(--accent-text);
    font-size: 0.875rem;
}

.news__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    overflow-y: auto;
    padding: 2rem;
}

.news__modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
    max-width: 800px;
    width: 100%;
    max-height: 90vh;
    position: relative;
    box-shadow: var(--box-shadow);
}

.news__modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    color: var(--text-light);
    transition: var(--transition);
}

.news__modal__close:hover {
    color: var(--light-text);
}

.news__modal__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 0.5rem;
}

.news__modal__date {
    color: var(--black);
    opacity: 0.5;
    font-size: 0.875rem;
}

.news__modal__title {
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.news__modal__content__wrapper {
    max-height: 60vh;
    overflow-y: auto;
}

.news__modal__content__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.3;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.modal__text__greeting,
.modal__text__invitation {
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    text-transform: uppercase;
    text-align: center;
}

.news__modal__content__text ul {
    padding-left: 2rem;
}

.news__modal__content__text li {
    list-style: circle;
    line-height: 1.5;
}

.news__modal__content__text li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.news__modal__content__text img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.news__modal__content__wrapper::-webkit-scrollbar {
    width: 0.5rem;
}

.news__modal__content__wrapper::-webkit-scrollbar-track {
    border: 1px solid var(--accent-text);
    background-color: var(--white);
    border-radius: 0.5rem;
}

.news__modal__content__wrapper::-webkit-scrollbar-thumb {
    background-color: var(--light-text);
    border-radius: 0.5rem;
}
